<div class="container-fluid py-3 bg-light rounded-3">
  <h1 class="display-4">Notes app NodeJS and MongoDB</h1>
  <p class="lead">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam
    consequuntur, accusamus itaque eligendi nihil modi facere laborum obcaecati
    vel minus ipsam nam ipsum, qui amet alias accusantium aliquam molestias in.
  </p>
  <hr class="my-4" />
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem
    consequuntur labore eos autem nobis corporis provident beatae est totam,
    suscipit quis, excepturi animi nostrum, culpa harum error sint rem fuga.
  </p>
  <a class="btn btn-primary btn-lg" href="/notes" role="button">Go to notes</a>
</div>